[Unit]
Description=Huey Task Queue Manager
After=network.target

[Service]
WorkingDirectory=/home/mic/python/books/books
ExecStart=/usr/bin/python3.10 see.py
User=mic
Group=mic

[Install]
WantedBy=multi-user.target

